{% extends 'products/header.html' %}

{% load static %}

{% block content %}

</head>

<body>
    <section>
        <div class="container">
            <h3></h3>
            <img src="{% static 'products/img/12.jpg' %}" class="rounded-sm img-fluid" alt="Responsive image">
            <div class="py-3">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, quas? Dignissimos quisquam,
                    expedita veritatis fugiat sunt voluptatibus officiis ullam non quibusdam beatae tenetur. Eos
                    corporis excepturi soluta error delectus quia. Dolore adipisci ipsam praesentium reprehenderit unde
                    deserunt saepe sapiente ratione suscipit culpa labore aliquam delectus obcaecati dolores totam
                    repellat explicabo aut, modi, accusamus veniam ipsa aspernatur nisi vitae nam. Quos, non error
                    impedit, sequi consectetur quaerat eos deleniti odio maiores maxime nemo! Incidunt error corrupti
                    dolores provident officiis consectetur, sed ut nostrum dolorem ad possimus commodi voluptates
                    pariatur deleniti neque fugit quia laudantium dignissimos! Adipisci suscipit magnam iusto quos
                    molestiae.</p>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <h4>contact Us</h4>
        </div>
    </section>
</body>

{% endblock %}